<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.hisilicon.higallery"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission android:name="com.hisilicon.higallery.permission.BACKGROUNDMUSIC" android:protectionLevel="signature"></permission>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.hisilicon.higallery.permission.BACKGROUNDMUSIC"/>

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:hardwareAccelerated="false"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NetworkHiGallery"
            android:label="@string/app_name"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/http" />
                <data android:mimeType="image/heic"/>
                <data android:mimeType="image/heif"/>
            </intent-filter>
        </activity>
        <service
            android:name=".music.MusicListService"
            android:exported="false"
        />
        <service
            android:name=".music.BackgroundMusicService"
            android:exported="false"
        />
    </application>

</manifest>
